h3, h5, p {
    color: black !important;
}
.price {
    color: gray !important;
}

.card-img-top {
    height: 300px;
    width: 100%;
    object-fit: contain; 
    margin-bottom: 30px;
}

.switch-btn {
    background-color: #ddd; /* Default background */
    color: #333; /* Default text color */
    border: 2px solid #aaa;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border-radius: 30px; /* Rounded for switch effect */
}

.switch-btn:hover {
    background-color: #bbb;
    cursor: pointer;
}

.switch-btn.active {
    background-color: #a4a4a4 !important; /* Active background */
    color: white !important;
    border-color: #0056b3;
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.4);
}
