h3, h5, p {
    color: black !important;
}
.price {
    color: gray !important;
}

.card-img-top {
    height: 300px;
    width: 100%;
    object-fit: contain; 
    margin-bottom: 30px;
}
