html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}
.welcome-text {
	min-height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.welcome-text h1{
	font-size: 55px;
}

