.navbar {
	border-radius: 20px;
}

.navbar .nav-link {
	color: black !important;
}

.mobile-nav .nav-link {
	color: white !important;
}

/* Custom styling only for the toggler button */
.navbar-toggler {
	background-color: #4C585B !important;
}
.navbar-toggler-icon {
	filter: invert(1); /* Makes the icon white */
}
