body {
	background-color: #4C585B !important;
}

h1,h2,h3,h4,h5,p {
	color: white;
	font-family: monospace;
}

.background-type-two {
	background-color: #727F83 !important;
}

.background-color-2{
	background-color: #A5BFCC !important;
}

.text-color-2{
	color: #A5BFCC !important;
}

.background-color-3 {
	background-color: #F4EDD3 !important;
}

.img-fluid {
    max-height: 300px;
    width: auto; 
    max-width: 100%; 
    height: auto; 
    display: block;
    margin: 0 auto; 
    object-fit: contain; 
}
